/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#mainAnchor {
	-fx-background-image: url("../resources/images/background.jpg");
	-fx-background-size: cover, auto;
}

#menuBar{
	-fx-background-color:rgb(179,179,179)
}

#loginPanel{
	-fx-background-color:rgb(225,225,225);
	-fx-border-color:silver;
	-fx-border-width:2px;

}
.myDialog{
	-fx-background-color: black;
}
#heartsButton{
	-fx-background-color:black;
	/*-fx-background-image: url("../../src/resources/images/hearts.jpg");*/
}
#spadesButton{
	-fx-background-image: url("../../src/resources/images/spades.jpg");
}
#clubsButton{
	-fx-background-image: url("../../src/resources/images/clubs.jpg");
}
#diamondsButton{
	-fx-background-image: url("../../src/resources/images/diamonds.jpg");
}